.title{
    padding: 5px; 
    border: 2px solid green; 
    border-radius: 10px;
    
}

.box{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: red;
    margin-left: 200px;

}

.box1{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: orange;
    position: relative;
    bottom: 98px;
    left: 250px;
}

.txt{
    margin-left: 240px;
    margin-bottom: 100px;
    padding: static;
    bottom: 500px;
    
}